<div class='container'>
 <div class='row mt-4'>
  <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto">
    <h2 class="text-center border-bottom border-secondary"><strong>投稿編集</strong></h2>
    <%= render "public/posts/form" %>
  </div>
 </div>
</div>