<h1>投稿一覧</h1>

<div class='container'>
<div class='row'>
<div class='col-md-3'>
 <%= render 'public/users/info', user: current_user %>
</div>

<div class='col-md-8 offset-md-0'>
<%= render "public/posts/index" %>
</div>


</div>
</div>