<div class="container pt-5">
  <div class="mx-auto mb-5">
  <h1 class="display-3 text-center"><strong>About</strong></h1>
  </div>
  <p class="text-center">
    N.P.Searchは様々なアウトドアの形に寄り添います。<br>
    おすすめスポットを見つけたり、シェアすることができます。<br>
    外出先での空き時間や、目的地決めにぜひご活用ください。<br>
  </p>
</div>