<table class='table'>
  <tr><%= image_tag user.get_profile_image, style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %></tr>
  <tr><th><%= user.name %></th></tr>
  <tr><th><%= user.introduction %></th></tr>
</table>